h1{
    text-align: center;
}

body {
    width: 50%;
    text-align: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,28,121,1) 0%, rgba(0,212,255,1) 100%);
}

.stile-lista {

    font-size: 15px;
   
    margin: 1em;
    display: inline-block;
    margin-left:3em ;
    text-align: center;
    border: 0.2px solid black;
    padding: 0.5em;
}


#contenitore{
    border:  0.3px solid black;
    text-align: center;
  margin-left: 15em;
  margin-right: auto;
}

button{
    font-size: 30px;
    background-color: rgb(0, 255, 200);
}


    
   
   